<ion-view view-title="Sobre">
  <ion-content>
    <div class="list list-inset">


      <img class="brand" src="../img/caminho-neocatecumenal-logo.png" width="20%" alt="">
      <h2>Sobre o Neolist</h2>
      <p>O NeoList é um Aplicativo do Centro Neocatecumenal de Brasília, de apoio para os grupos de peregrinos do Caminho Neocatecumenal no Brasil, para a JMJ.
        Ele é um ajuda para as comunicações entre os responsáveis e aqueles irmãos de apoio.
        Faça o cadastro para receber SMS do Centro Neocatecumenal de Brasília, durante a peregrinação.
        Lembre que em caso de mudança ou modificação de dados deverá atualizar seu cadastro.

      Os dados do Neolist devem ser usados com prudência, e somente para este fim, enquanto possui dados de Responsáveis dos diversos grupos de peregrinos.</p>



      <div data-role="content" class="big-text">
        <h4>Fabiano Carvalho</h4>
        <p>Email: carvalho.fabiano@gmail.com</p>
        <p>Telefone: +5561991199497</p>
      </div>
      <div data-role="content" class="big-text">
        <h4>Otávio Garrido</h4>
        <p>Email: otavio.grrd@gmail.com</p>
        <p>Telefone: +5561982291992</p>
      </div>
    </div>
  </ion-content>
</ion-view>
