<ion-view view-title="Detalhes">
  
  <ion-content>
    <div class="contentExpli item item-thumbnail-right">
      <img src="../img/jmj-cnc-detalhe.png">
      <h2 class="nome-desc">{{detail.nome}}</h2>
      <p ng-if="detail.descricao_categoria">{{detail.descricao_categoria}}</p>
    </div>    
    <div class="list list-inset text-Padrao">
      <p ng-if="detail.descricao_idioma">Idioma:&nbsp; <strong>{{detail.descricao_idioma}}</strong></p>
      <p ng-if="detail.nome_pais">Estado / Pais:&nbsp; <strong>{{detail.estado}} / {{detail.nome_pais}}</strong></p>
    </div>

    <a ng-click="showActionsheet('email',0)" class="item item-detail item-icon-left" ng-if="detail.email">
      <i class="icon ion-android-mail icon-padrao"></i>
      {{detail.email}}
    </a>

    <a ng-click="showActionsheet('phone', 1)" class="item item-icon-left item-detail" ng-if="detail.telefone">
      <i class="icon ion-ios-telephone icon-padrao"></i>
      {{detail.telefone}}
    </a>

    <a ng-click="showActionsheet('phone', 2)" class="item item-icon-left item-detail" ng-if="detail.telefone2">
      <i class="icon ion-ios-telephone icon-padrao"></i>
      {{detail.telefone2}}
    </a>


  </div>
</ion-content>
</ion-view>
