<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()"><i class="icon ion-android-close"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="contentExpli item item-thumbnail-right" href="#">
      <img src="../img/jmj-cnc-login.png">
      <h2>Dados do usuário !</h2>
      <p>Por favor, digite o seu usuário e senha.</p>
    </div>
    <div class="card cardForm">
      <form ng-submit="doLogin()">
        <div class="list list-inset">
          <label for="Usuário" class="item item-input">
            <input type="text" ng-model="logindata.username" placeholder="Usuário">
          </label>
          <label for="Senha" class="item item-input last-item">
            <input type="password" placeholder="***********"  ng-model="logindata.password">
          </label>
          <br>
          <button class="button button-block button-padrao button-cad" type="submit">Entrar</button>
          <a ion-item no-padding href="#/app/register" ng-click="closeLogin()" target="_top" class="text-link-login">Ainda não tenho cadastro</a>
        </div>
      </form>  
    </div>    
  </ion-content>
</ion-modal-view>
