<ion-view view-title="Cadastro">
  <ion-content>

    <!--<img class="brand" src="../img/caminho-neocatecumenal-logo.png" width="20%" alt="">

    <h2 class="col col-center text-center">Cadastro</h2>-->
    <div class="contentExpli item item-thumbnail-right" href="#">
      <img src="../img/jmj-cnc-cadastro.png">
      <h2>Ainda não é Cadastrado ?</h2>
      <p>Colabore conosco para encontrar seu grupo mais facilmente!</p>
    </div>

    <form  name="form">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Nome" ng-model="register.nome" name="nome" required="" />
          <div for="form.nome.$error" ng-if="form.nome.$valid == false && form.nome.$touched  && form.nome.$dirty">
            <div ng-message-exp="['required']">
              O nome é um campo obrigatório
            </div>
          </div>
        </label>

        <label class="item item-input">
          <input type="text" placeholder="Login" ng-model="register.login" name="login" required="" />
          <div for="form.login.$error" ng-if="form.login.$valid == false && form.login.$touched  && form.login.$dirty">
            <div ng-message-exp="['required']">
              O login é um campo obrigatório
            </div>
          </div>
        </label>

        <label class="item item-input">
          <input type="password" placeholder="Senha" ng-model="register.password" name="password" required="" />

          <div for="form.password.$error" ng-if="form.password.$valid == false form.password.$touched  && form.password.$dirty">
            <div ng-message-exp="['required']">
              A senha é obrigatória
            </div>
          </div>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Categorias
          </div>
          <select ng-model="register.category" name="category" required="">
            <option ng-repeat="item in viewdata.categories" value="{{item.id}}">{{item.name}}</option>
          </select>
            <div for="form.category.$error" ng-if="form.category.$valid == false && form.category.$touched  && form.category.$dirty">
            <div ng-message-exp="['required']">
              A categoria é obrigatória
            </div>
          </div>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Idioma
          </div>
          <select ng-model="register.language">
            <option ng-repeat="item in viewdata.languages" value="{{item.val}}">{{item.name}}</option>
          </select>
        </label>

        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="register.email" required="" name="email" />
          <div for="form.email.$error" ng-if="form.email.$valid == false && form.email.$touched  && form.email.$dirty">
            <div ng-message-exp="['required']">
              O Email é obrigatório
            </div>
          </div>
        </label>

        <label class="item item-input">
          <input type="number" placeholder="Telefone" ng-model="register.phone" required="" name="phone" />

          <div for="form.phone.$error" ng-if="form.phone.$valid == false && form.phone.$touched  && form.phone.$dirty">
            <div ng-message-exp="['required']">
              O Telefone é obrigatório
            </div>
          </div>
        </label>

        <label class="item item-input">
          <input type="number" placeholder="Telefone" ng-model="register.phone2" />
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Pais
          </div>
          <select ng-model="register.country">
            <option ng-repeat="item in viewdata.countries" value="{{item.sigla}}">{{item.nome_pais}}</option>
          </select>
        </label>


        

        <label class="item item-input">
          <input type="text" placeholder="Estado" ng-model="register.state" required="" name="state" />
          <div for="form.state.$error" ng-if="form.state.$valid == false && form.state.$touched  && form.state.$dirty">
            <div ng-message-exp="['required']">
              O Estado é obrigatório
            </div>
          </div>
        </label>

        <label class="item item-input last-item">
          <input type="text" placeholder="Cidade" ng-model="register.city" required="" name="city" />

          <div for="form.city.$error" ng-if="form.city.$valid == false && form.city.$touched  && form.city.$dirty">
            <div ng-message-exp="['required']">
              A cidade é obrigatório
            </div>
          </div>
        </label>

        <br>

        <button type="submit" class="button button-block button-padrao button-cad" ng-click="registerUser(form);">Cadastrar</button>
      </div>
    </form>

    <ion-list class="list list-inset">
      <ion-item ng-repeat="item in list" ui-sref="app.detail({contactId:item.id})">
        {{item.nome}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
