<ion-view view-title="Encontre Contatos">
  <ion-content>
    <div class="contentExpli item item-thumbnail-right" href="#">
      <img src="../img/jmj-cnc-pessoas.png">
      <h2>Não fique perdido na JMJ !</h2>
      <p>Encontre na lista abaixo ou na caixa de pesquisa a pessoa certa para te ajudar.</p>
    </div>
    <div class="card cardForm">
      <div class="item item-text-wrap">
        <form>
          <div class="list list-inset">
            <label class="item item-input">              
              <i class="icon ion-android-search"></i>
              <input type="text" placeholder="Pesquisar nome" ng-model="searchfield.nome">
            </label>
            <label class="item item-input item-select last-item">
              <div class="input-label">
                Categorias
              </div>
              <select ng-model="searchfield.categoria">
                <option ng-repeat="item in categories" value="{{item.id}}">{{item.name}}</option>
              </select>
            </label>
            <button type="submit" class="button button-block button-padrao" ng-click="search();">Pesquisar</button>
          </div>
        </form>
      </div>
    </div>    

    <ion-list class="list list-inset list-Principal">
      <ion-item class="item item-divider">Lista de Contatos</ion-item>
      <ion-item ng-repeat="item in list" ui-sref="app.detail({contactId:item.id})">
        <i class="IconLeft" ng-class="setIcon(item.categoria)"></i>
        <h3>{{item.nome}}</h3>
        <p>{{item.descricao_categoria}}</p>
      </ion-item>

      <ion-item ng-if="list.length == 0">
        <p>Nenhum resultado encontrado!</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
